<style type="text/css">
      .before {
        page-break-before: always;
      }
      .after {
        page-break-after: always;
      }
      .avoid {
        page-break-inside: avoid;
      }
      table {
        border-collapse: collapse;
      }
      thead {
        display: table-header-group;
      }
      thead th{
        font-weight: bold;
        background-color:#EEE;
      }
      tr, td {
        page-break-inside: avoid;
      }
      .bold {
        font-weight: bold;
      }
      table{
        width: 100%;
      }
      table.info,  table.info th,  table.info td, table.data {
          border: 0px;
      }
      .page-break {
	    page-break-before: always;
	  }
	  table.data th, table.data td{
	    border: solid 1px black;
	  }
	  h1 {
	    text-align:center;
	  }
</style>


{{ content }}