<style>
	/* horizontal timeline */
	.timeline{
		visibility: hidden;
	}
	.timeline dl{
		display: -webkit-inline-box;
	}
	.timeline.horizontal{
		margin-left:-75px;
		text-align:center
	}
	.timeline.horizontal>li::after{
		margin-left: -50px;
		text-align: center;
		padding-top:10px;
		z-index: 10;
		content:counter(item);
		position: absolute;
		width: 50px;
		height: 50px;
		border:3px solid white;
		border-radius: 50%;
		top:0;
	}
	.timeline.horizontal>li::after{
		background-color: #E7E7E7;
	}
	.timeline.horizontal>li.active::after{
		background-color: #3498db;
		color: white;
	}
	.timeline.horizontal .step-content{
		margin-left:-75px;
	}
	.timeline.horizontal>li{
		text-align: center;
		vertical-align: top;
		display: inline-block;
		counter-increment: item;
		padding-top: 55px;
		margin-left: 0px;
		min-height:70px;
		position: relative;
		background-color: white;
		list-style: none;
		width: 150px;
	}
	.timeline.horizontal>li:nth-last-child(1)::before{
		width: 0px;
	}
	.timeline.horizontal>li>hr{
		margin-top: -25px;
	}
	/* vertical timeline */
	.timeline.vertical{
		position: relative;
	}
	.timeline.vertical>li::before{
		content:'';
		position: absolute;
		width: 1px;
		background-color: #E7E7E7;
		top: 0;
		bottom: 0;
		left:-19px;
	}
	.timeline.vertical>li::after{
		text-align: center;
		padding-top:10px;
		z-index: 10;
		content:counter(item);
		position: absolute;
		width: 50px;
		height: 50px;
		border:3px solid white;
		border-radius: 50%;
		top:0;
		left:-43px;
	}
	.timeline.vertical>li::after{
		background-color: #E7E7E7;
	}
	.timeline.vertical>li.active::after{
		background-color: #3498db;
		color: white;
	}
	.timeline.vertical>li{
		counter-increment: item;
		padding: 10px 10px;
		margin-left: 0px;
		min-height:70px;
		position: relative;
		background-color: white;
		list-style: none;
	}
	.timeline.vertical>li:nth-last-child(1)::before{
		width: 0px;
	}
	.timeline.vertical>li>hr{
		display:none;
	}
</style>
<h2>{{ this.title }}</h2>
<ol id="timeline{{ this.uuid }}" class="timeline">
	{% for step in this.steps %}
		<li class="{% if step.date %}active{% endif %}">
			<hr>
			<div class="step-content">
				<strong>{{ step.title }}</strong><br>
				<dl>
				{% for data in step.data %}
					<dt>{{ data.key }}:</dt>
					<dd>{{ data.value }}</dd>
				{% endfor %}
				</dl>
			</div>
		</li>
	{% endfor %}
</ol>

<script>
	function showTimeline{{ this.uuid }}(){
		var timeline = $("#timeline{{ this.uuid }}");
		var width = timeline.parent().width();
		$(timeline).removeClass('vertical').removeClass('horizontal');
		if (width > 700) {
			timeline.addClass('horizontal');
		} else {
			timeline.addClass('vertical');
		}
		timeline.css('visibility', 'visible');
	}
	showTimeline{{ this.uuid }}();
</script>

